/** COMMON PROPERTIES **/
.departments-title,
.map-title,
.info-title,
.description-title
{
    font-weight: 200;
}

.departments-title span,
.map-title span,
.info-title span,
.description-title span
{
    font-weight: 600;
}


/** NAVBAR PROPERTIES **/
.navbar {
    z-index: 1;
    padding: 5px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border: none;
    background: none;
    color: #ffffff !important;
}

.navbar.scrolled {
    background: #622545;
}

.navbar-brand {
    font-weight: 200;
    padding: 5px;
}

.navbar-brand>img {
    display: inline-block;
    height: 100%;
    width: auto;
}

.navbar-brand,
.nav>li>a {
    font-weight: 200;
    color: #fff !important;
}

.navbar-hover-link a::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-hover-link a:hover::after,
.navbar-hover-link a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent !important;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.brand-small {
    display: none;
}

/** WELCOME SECTION PROPERTIES **/
#welcome {
    background: url(../img/back.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.welcome-title {
    margin-top: 5%;
    margin-bottom: 1%;
}

.emb-vid {
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/preloader.gif) center no-repeat #fff;
}

.element {
    color: #fff;
    font-size: 3em;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

/* Typing effect */
.typed-cursor {
    font-size: 50px;
    font-weight: 200;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/** DEPARTMENTS SECTION PROPERTIES **/
.figure-wrap {
    padding: 0px 5px 0px 5px;
    height: 280px;
    overflow: hidden;
    margin-bottom: 10px;
}

.figure-effect {
    height: 100%;
    width: 100%;
    background: #3498db;
}

.figure-effect img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.35s ease-in-out;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.figure-effect:hover img {
    transform: translateY(-50px);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

.figure-effect h2 {
    font-weight: 200;
    position: absolute;
    top: 15%;
    left: 10%;
    transition: all 0.4s ease-in-out;
    color: #fff;
}

.figure-effect span {
    font-weight: 600;
}

.figure-effect:hover h2 {
    transform: translateY(-20px);
}

.figure-effect i {
    font-size: 30px;
}

.figure-effect figcaption p span {
    font-size: 20px;
    font-weight: 200;
}

.figure-effect p {
    position: absolute;
    bottom: 0;
    left: 5%;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.figure-effect:hover p {
    opacity: 1;
}

.departments-title,
.info-title {
    margin-bottom: 20px;
    font-weight: 200;
}

/** MAP SECTION PROPERTIES **/
.form-wrap, .transit-result-wrap{
    padding: 0px 5px 0px 5px;
    height: 130px;
    margin-bottom: 10px;
}

.form-style{
  padding: 15px;
  background-color: #3498db;
  height: 100%;
}

.form-style input{
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    padding-left: 7px;
    margin-bottom: 10px;
    border: none;
}

.form-style button{
    font-size: 15px;
    font-weight: 200;
    border: none;
    color: #fff;
    background-color: #2473a6;
}

.transit-result{
    background-color: #3498db;
    height: 100%;
    width: 100%;
}

.bus-number{
    height: 75%;
    background-color: #f1c40f;
    font-size: 60px;
    font-weight: 200;
    padding-top: 5px;
}

.bus-timetable{
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    padding-top: 2px;
}

/** INFO SECTION PROPERTIES **/
.image-selection {
    padding: 5px;
    height: 280px;
}

.image-selection img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.image-selection:hover img {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

.image-selection h2 {
    font-weight: 200;
    position: absolute;
    top: 15%;
    left: 10%;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.image-selection h2 span {
    font-weight: 600;
}

.image-selection:hover h2 {
    transform: translateY(-20px);
}

.description-preview {
    z-index: 2;
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #252323;
    overflow: auto;
    color: #fff;
}

.close-preview {
    color: #FFF;
    z-index: 1;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .2s ease-in-out;
}

.close-preview:hover {
    color: #B71C1C;
}

.text-justify {
    text-align: justify;
}

/* SLIDEANIMATION */
.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/** MOBILE AND TABLET PROPERTIES **/
/* Portrait smartphone */
@media (max-width: 500px) and (orientation: portrait) {
    .navbar {
        background: #622545;
    }
    
    .brand-large {
        display: none;
    }
    
    .brand-small {
        display: inline;
    }
    
    .welcome-title {
        margin-top: 15%;
    }
}

/* Landscape smartphone */
@media (max-width: 750px) and (orientation: landscape) {
    .navbar {
        background: #622545;
    }
    
    .welcome-title {
        margin-top: 10%;
    }
}